@media (max-width: 750px) {
  .whatMaterials__title {
    font-size: 34px !important;
  }
  .whatMaterials__cardGrup {
    flex-direction: column !important;
  }
  .whatMaterials__subTitle {
    font-size: 20px !important;
  }
}

@media (max-width: 575px) {
  .whatMaterials__container {
    margin: 0px auto 90px !important;
  }
  .whatMaterials__title {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .whatMaterials__card {
    margin: 0px !important;
  }
}
