.buyWindows__button:focus,
.buyWindows__about_numberButton:focus {
  background-color: #21b24a !important;
  color: #f9f9f9 !important;
}

.buyWindows__about_postButton:focus {
  background-color: #e5e5e5 !important;
  color: #21b24a !important;
}

@media (max-width: 1280px) {
  .buyWindows__container {
    margin-top: 4rem !important;
  }
  .buyWindows__header {
    padding: 0rem 0.5rem !important;
  }
  .buyWindows__title {
    font-size: 30px !important;
  }
  .buyWindows__text {
    font-size: 1rem !important;
  }
  .buyWindows__subTitle {
    font-size: 23px !important;
  }
  .buyWindows__button {
    margin-top: 25px !important;
    max-width: 290px !important;
    padding: 17px 10px !important;
  }
  .buyWindows__about_postButton {
    padding: 21px 78px !important;
    margin-top: 0.5rem !important;
  }
  .buyWindows__about_block {
    margin-left: 1.8rem !important;
  }
}

@media (max-width: 1000px) {
  .buyWindows__about_title {
    font-size: 25px !important;
  }
  .buyWindows__about_text {
    font-size: 1rem !important;
  }
}

@media (max-width: 680px) {
  .buyWindows__about_container,
  .buyWindows__about_buttonBlock {
    flex-direction: column !important;
  }
  .buyWindows__about_block {
    margin-left: 0rem !important;
  }
}

@media (max-width: 480px) {
  .buyWindows__image {
    height: 260px !important;
  }
  .buyWindows__about_title {
    font-size: 23px !important;
    margin: 0 !important;
  }
  .buyWindows__about_postButton,
  .buyWindows__about_numberButton {
    padding: 15px 34px !important;
  }
}
