@media (max-width: 1100px) {
  .reviews__title {
    font-size: 34px !important;
  }
  .reviews__caption {
    margin: auto 0rem auto 2rem !important;
    padding: 15px !important;
  }
  .reviews__Vectop,
  .reviews__vectop_1 {
    margin-left: 1rem !important;
  }
  .vectopSize {
    margin: 0 !important;
  }
  .reviews__text {
    font-size: 1rem !important;
  }
  .reviews__subTitle {
    font-size: 20px !important;
  }
}

@media (max-width: 900px) {
  .reviews__display {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .reviews__container {
    margin: 0px auto 90px !important;
  }
  .reviews__title {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .reviews__caption {
    margin: auto 0rem auto 1rem !important;
    padding: 15px !important;
  }
  .vectopSize {
    height: 25px !important;
    width: 15px !important;
  }
  .reviews__text {
    margin: 18px auto 20px !important;
  }
}
