.AdviseYou__button:focus {
  color: #21b24a !important;
  background-color: #e5e5e5 !important;
}

@media (max-width: 1100px) {
  .AdviseYou__title {
    font-size: 32px !important;
    margin-bottom: 14px !important;
  }
  .AdviseYou__text {
    font-size: 1rem !important;
    margin-bottom: 15px !important;
  }
  .AdviseYou__button {
    padding: 17px 90px !important;
    margin-top: 15px !important;
  }
}

@media (max-width: 900px) {
  .AdviseYou__container {
    margin: 90px auto 90px !important;
  }
  .AdviseYou__image_rectangle {
    height: 375px !important;
  }
  .AdviseYou__section {
    margin: -375px auto 0px !important;
    justify-content: center !important;
  }
  .AdviseYou__title,
  .AdviseYou__text {
    margin-bottom: 10px !important;
  }
  .AdviseYou__button {
    margin-top: 0px !important;
  }
  .AdviseYou__image_worker {
    display: none !important;
  }
}

@media (max-width: 550px) {
  .AdviseYou__title {
    font-size: 30px !important;
  }
  .AdviseYou__button {
    padding: 17px 56px !important;
  }
}
