@media (max-width: 1100px) {
  .windowInstallation__img {
    max-width: 420px !important;
  }
  .windowInstallation__title {
    font-size: 33px !important;
  }
  .windowInstallation__parent {
    font-size: 1rem !important;
  }
}

@media (max-width: 850px) {
  .windowInstallation__img {
    max-width: 340px !important;
  }
  .windowInstallation__title {
    font-size: 30px !important;
  }
  .windowInstallation__parent_text {
    margin: 0rem !important;
  }
  .windowInstallation__parent_span {
    margin-top: 0px !important;
  }
}

@media (max-width: 750px) {
  .windowInstallation__container {
    flex-direction: column !important;
    margin: 0px auto 90px !important;
  }
  .windowInstallation__img {
    max-width: 100% !important;
    padding: 1.5rem 0rem !important;
  }
  .windowInstallation__about {
    padding-bottom: 1rem;
  }
}
