.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  max-width: 480px !important;
  margin-bottom: 0.8rem !important;
}

.css-1aquho2-MuiTabs-indicator {
  height: 4px !important;
  background-color: #21b24a !important;
}

.CostWindows__subTitle:focus {
  color: #21b24a !important;
}

.CostWindows__button:focus {
  background-color: #21b24a !important;
  color: #fff !important;
}

@media (max-width: 1230px) {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    max-width: 270px !important;
  }
}

@media (max-width: 1080px) {
  .CostWindows__title {
    font-size: 30px !important;
  }
  .CostWindows__subTitle {
    font-size: 18px !important;
  }
}

@media (max-width: 768px) {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    max-width: 220px !important;
  }
  .CostWindows__block_subTitle,
  .CostWindows__block_text {
    font-size: 18px !important;
  }
  .CostWindows__button {
    padding: 16px 90px !important;
  }
}

@media (max-width: 650px) {
  .css-1wf8b0h-MuiTabs-flexContainer {
    flex-flow: row wrap !important;
  }
}

@media (max-width: 450px) {
  .CostWindows__subTitle {
    font-size: 16px !important;
    padding: 0.5rem 0.3rem !important;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    max-width: 160px !important;
  }
  .CostWindows__button {
    padding: 16px 65px !important;
  }
}
