.We_Working_button:focus {
  color: #fff !important;
  background-color: #21b24a !important;
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #414141 !important;
}

/* .Materials_title {
  font-size: 34px !important;
}
.Materials_title {
  font-size: 30px !important;
  margin-bottom: 20px !important;
} */
