.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  border: 1px solid #afafaf !important;
  color: #e5e5e5 !important;
  border-radius: 50% !important;
  font-size: 4rem !important;
}

.css-1bw0nnu-MuiStep-root {
  padding: 0 !important;
}

.css-j5w0w9-MuiStepConnector-root {
  margin: 0px -50px 20px !important;
  width: 100% !important;
  max-width: 200px !important;
}

.css-ascpo7-MuiStepLabel-root {
  flex-direction: column !important;
}

.css-2royc9 {
  padding-right: 5rem !important;
}

.css-z7uhs0-MuiStepConnector-line {
  border-top: 2px dashed #c4c4c4 !important;
}

.css-117w1su-MuiStepIcon-text {
  fill: #bebdbd !important;
  font-size: 0.65rem !important;
}

.css-qivjh0-MuiStepLabel-label {
  font-size: 18px !important;
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.carousel-caption {
  text-align: start !important;
  position: static !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
.css-qivjh0-MuiStepLabel-label:focus {
  color: #21b24a !important;
}

.css-z7uhs0-MuiStepConnector-line:hover {
  border-color: #21b24a !important;
}

.weWorking__button:focus {
  color: #fff !important;
  background-color: #21b24a !important;
}

@media (max-width: 1150px) {
  .weWorking__Item {
    margin: auto 40px !important;
  }
  .weWorking__caption {
    margin: 30px 15px !important;
  }
  .css-j5w0w9-MuiStepConnector-root {
    max-width: 150px !important;
  }
  .css-qivjh0-MuiStepLabel-label {
    font-size: 1rem !important;
  }
}

@media (max-width: 1000px) {
  .weWorking__text {
    font-size: 1rem !important;
  }
  .weWorking__subTitle {
    font-size: 22px !important;
  }
}

@media (max-width: 800px) {
  .weWorking__title {
    font-size: 34px !important;
  }
  .weWorking__img {
    max-width: 350px !important;
  }
  .weWorking__block_button {
    margin-top: 1rem !important;
  }
  .weWorking__caption {
    margin: 1rem 1rem 1rem 0rem !important;
  }
  .weWorking__text {
    margin: 0 !important;
  }
  .css-l5hjks {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .weWorking__container {
    margin: 0px auto 90px !important;
  }
  .weWorking__title {
    font-size: 30px !important;
    margin-bottom: 0rem !important;
  }
  .weWorking__Item {
    flex-direction: column-reverse !important;
  }
  .weWorking__caption {
    margin: 0rem !important;
  }
  .weWorking__button {
    padding: 16px 52px !important;
  }
}

@media (max-width: 450px) {
  .weWorking__img {
    max-height: 200px !important;
  }
}
