.css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
  width: 470px !important;
  border-color: #cecece !important;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #21b24a !important;
  width: 470px !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: #a5a5a5 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #21b24a !important;
}

.Discuss_Project_button:focus {
  background-color: #e5e5e5 !important;
  color: #21b24a !important;
}

fieldset {
  margin: 0px !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
}

@media (max-width: 950px) {
  .Discuss_Project_container {
    margin: 0 auto 90px !important;
  }
  .Discuss_Project_title {
    font-size: 30px !important;
    margin-bottom: 35px !important;
  }
  .Discuss_Project_text {
    font-size: 1rem !important;
  }
  .Discuss_Project_block {
    margin: 25px !important;
  }
}

@media (max-width: 850px) {
  .Discuss_Project_about {
    flex-direction: column !important;
  }
  .Discuss_Project_box {
    align-content: flex-start !important;
  }
  .Discuss_Project_button {
    width: 280px !important;
  }
  .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before,
  .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
    width: 380px !important;
  }
  .Discuss_Project_block {
    margin: 10px !important;
  }
}

@media (max-width: 400px) {
  .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before,
  .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after,
  .Discuss_Project_label {
    width: 280px !important;
  }
}
