.header {
  color: #3d3d3d !important;
}

.SHukaturka {
  /* margin-top: -50px !important; */
}

.header_text {
  width: 100% !important;
  max-width: 750px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.headet_text_title {
  font-size: 60px !important;
  line-height: 75px !important;
  width: 750px !important;
}

.spanColor {
  color: #21b24a !important;
  font-weight: 700 !important;
}

.header_Icon {
  display: flex !important;
  width: 100% !important;
  max-width: 445px !important;
  flex-direction: column !important;
}

.header_Icon_Block {
  font-size: 18px !important;
  line-height: 26px !important;
}

.header_Icon_Check {
  height: 15px !important;
  width: 15px !important;
}

.header_Icon_span {
  margin-left: 0.5rem !important;
}

.header_Calculate {
  width: 100% !important;
  max-width: 250px !important;
  background-color: #21b24a !important;
  color: #fff !important;
  padding: 20px 24px !important;
}
