@media (max-width: 800px) {
  .footer__about {
    flex-direction: column !important;
    margin-top: 56px !important;
  }
  .footer__title {
    font-size: 22px !important;
    margin-bottom: 20px !important;
  }
  .footer__text_block {
    font-size: 1rem !important;
  }
}
